@mixin font ($weight, $size, $color) {
    font-weight: $weight;
    font-size: $size;
    color: $color;
}
@mixin box ($w, $h, $bg) {
    width: $w;
    height: $h;
    background: $bg;
}
@mixin max-box ($w, $h, $bg) {
    max-width: $w;
    max-height: $h;
    background: $bg;
}